body {
  background: url("./au_map.png") center fixed no-repeat;
  background-size: 100% 100%;
}

.card-container {
  display: grid;
  grid-template-columns:  repeat(3, 25fr 25fr);
}

.animal-card {
  display: flex;
  background: none;
  padding: 5em;
  flex-direction: column;
  border: none;
}

.info {
  display: flex;
  flex-direction: column;
  background: rgb(167, 197, 236);
  opacity: 0.7;
  border: solid 1px rgb(227, 230, 228);
  height: 16rem;
  width: 16rem;
  border-radius: 15%;
  border: 1px black;
  align-items: center;
  justify-content: space-evenly;
}

.name, .description {

}
