body {
  background: url("./au_map.png") center fixed no-repeat;
  background-size: 100% 100%;
}

.animal-card {
  display: flex;
  flex-direction: column;
  width: 10%;
  border: 1px gray solid;
  border-radius: 3px;
  margin: 5%;
}

.name, .description, .picture {
  margin: 10px;
}


